@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
    :root {
      --background: 38 36% 96%;
      --foreground: 9 28% 19%;
      --card: 38 36% 96%;
      --card-foreground: 9 28% 19%;
      --popover: 38 36% 96%;
      --popover-foreground: 9 28% 19%;
      --primary: 123 46% 34%;
      --primary-foreground: 0 0% 100%;
      --secondary: 125 39% 94%;
      --secondary-foreground: 124 55% 24%;
      --muted: 34 35% 91%;
      --muted-foreground: 15 25% 34%;
      --accent: 122 37% 84%;
      --accent-foreground: 124 55% 24%;
      --destructive: 0 66% 47%;
      --destructive-foreground: 0 0% 100%;
      --border: 34 27% 83%;
      --input: 34 27% 83%;
      --ring: 123 46% 34%;
      --chart-1: 122 39% 49%;
      --chart-2: 123 43% 39%;
      --chart-3: 123 46% 34%;
      --chart-4: 124 55% 24%;
      --chart-5: 126 51% 8%;
      --radius: 0.5rem;
      --sidebar: 34 35% 91%;
      --sidebar-foreground: 9 28% 19%;
      --sidebar-primary: 123 46% 34%;
      --sidebar-primary-foreground: 0 0% 100%;
      --sidebar-accent: 122 37% 84%;
      --sidebar-accent-foreground: 124 55% 24%;
      --sidebar-border: 34 27% 83%;
      --sidebar-ring: 123 46% 34%;
    }
    .dark {
      --background: 133 20% 14%;
      --foreground: 33 27% 92%;
      --card: 125 13% 20%;
      --card-foreground: 33 27% 92%;
      --popover: 125 13% 20%;
      --popover-foreground: 33 27% 92%;
      --primary: 122 39% 49%;
      --primary-foreground: 126 51% 8%;
      --secondary: 115 10% 26%;
      --secondary-foreground: 114 14% 86%;
      --muted: 125 13% 20%;
      --muted-foreground: 35 19% 81%;
      --accent: 123 43% 39%;
      --accent-foreground: 33 27% 92%;
      --destructive: 0 66% 47%;
      --destructive-foreground: 33 27% 92%;
      --border: 115 10% 26%;
      --input: 115 10% 26%;
      --ring: 122 39% 49%;
      --chart-1: 123 38% 64%;
      --chart-2: 123 38% 57%;
      --chart-3: 122 39% 49%;
      --chart-4: 123 41% 45%;
      --chart-5: 123 43% 39%;
      --sidebar: 133 20% 14%;
      --sidebar-foreground: 33 27% 92%;
      --sidebar-primary: 122 39% 49%;
      --sidebar-primary-foreground: 126 51% 8%;
      --sidebar-accent: 123 43% 39%;
      --sidebar-accent-foreground: 33 27% 92%;
      --sidebar-border: 115 10% 26%;
      --sidebar-ring: 122 39% 49%;
    }
  }
  
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1,h2,h3,h4,h5,h6 {
  @apply text-foreground dark:text-foreground;
}

